Python is a general-purpose, versatile, and powerful programming language. It was created by Guido van Rossum, and released in 1991. Python is concise and easy to read and it is widely used from web development to machine learning data science.

## Jupyter Notebook and Colab

**Jupyter notebooks** let you write and execute Python code locally in your web browser. Jupyter notebooks make it very easy to tinker with code and execute it in bits and pieces; for this reason they are widely used in scientific computing. The easiest way to get jupyter notebook is by installing Anaconda from https://www.anaconda.com/products/distribution#Downloads. 

**Colab** on the other hand is Googleâ€™s flavor of Jupyter notebooks that is particularly suited for machine learning and data analysis and that runs entirely in the cloud. You can access Colab from https://colab.research.google.com/

In [23]:
print(10)

10

## Arithemetic Operations

- {+} Addition 
- {-} Subtraction
- {*} Multiplication *
- {%} Modulus
- {/} Division
- {//} Integer Division (Divides and round down to the nearest integer)
- {%} Modulus (The remainder after dividing)
- {**} Exponetiation

Python arithmetic operators follow the same precedence as math operators. We can use paranthesis to change the order of precedence.

In [24]:
3+4

7

In [3]:
print(4-2)

2

In [4]:
print(3*12)

36

In [5]:
print(5/2)

2.5

In [6]:
print(5//2)

2

In [7]:
print(5**2)

25

### Exercise 1
Write an expression that calculates the average of 32, 12 and 46. Place the expression in a print statement.

In [31]:
print((32 + 12 + 46)/3)

30.0

### Exercise 2
Write an expression that calculates the following formula. Place the expression in a print statement. $\frac{4(8-5)}{2^3 - 7}$

In [10]:
print((4 * (8 - 5))/(2**3 - 7))

12.0

## Variables and Assignment Operators

Variables are containers for storing data values. We can use the assign operator = to give values to variables. After assignment we can use the variable name to access its value.

Rules for naming variables
- Variable names should be descriptive of the values they hold
- Only use ordinary letters, numbers and underscores
- Names can not have spaces
- They need to start with a letter or underscore
- You can not use reserved words or build-in identifiers. A list of Python reserved words can be found in https://www.w3schools.com/python/python_ref_keywords.asp.

In [19]:
number_rooms = 3

In [25]:
print(number_rooms

SyntaxError: unexpected EOF while parsing (<ipython-input-25-8f49a6eeba80>, line 1)

In [21]:
print(nr_bathrooms) # you get an error if you try to get the value of an undefined variable

NameError: name 'nr_bathrooms' is not defined

In [26]:
x = 3
y = 4
z = 5

Python allows multiple assignments

In [12]:
x = 3
y = 4
z = 3

In [23]:
x, y, z = 2, 3, 5

We can update values of variable

In [25]:
x = 3

In [26]:
print(x)

3

In [27]:
x = x + 2

In [28]:
print(x)

5

In [29]:
x += 2

In [30]:
print(x)

7

### Exercise 3
- Create a variable named grade and assign it to 90
- Increment the grade by 5 percent
- Output the new increased grade

In [27]:
grade = 90
new_grade = grade + grade * 0.05
print(new_grade)

94.5

In [28]:
grade = 90
grade *= 1.05
print(grade)

94.5

## Integers and Floats

There are two Python data types that can be used for numeric values:

- int - for integer values
- float - for decimal or floating point values

In [47]:
x = 3
y = 4.5

In [48]:
print(type(x))

<class 'int'>

In [49]:
print(type(y))

<class 'float'>

In [50]:
print(2 + 6.7) #An operation between a int and a float produces a float

8.7

We can cast a type into another as follows.

In [51]:
print(int(52.3))

52

In [52]:
print(float(45))

45.0

## Booleans, Comparison Operators and Logical Operators

A boolean (bool) is a data type that can have a value of True or False

In [53]:
is_raining = True
is_sunny = False

In [54]:
x = 15 > 13
print(x)

True

### Comparison Operators
- $<\ $ less than
- $>\ $ greater than
- $<=$ less than or equal to
- $>=$ greater than or equal to
- $==$ equal to
- $!=$ not equal to

### Logical Operators
- and - evaluates if both sides are true
- or - evaluates if at least one side is true
- not - inververses a boolean type

In [55]:
is_sunny = True
is_weekend = True
go_beach = is_sunny and is_weekend
print(go_beach)

True

In [56]:
stay_home = not go_beach
print(stay_home)

False

## Strings
A string is an immutable ordered sequence of characters that can be letters, numbers, spaces and symbols. We can create a string by using either single quotes '' or double quotes ""

In [57]:
print("hello world")

hello world

In [58]:
print('hello world')

hello world

In [59]:
welcome_message = "Welcome to Stevens"
print(welcome_message)

Welcome to Stevens

Arithmetic Operations with strings

In [29]:
first_word = "Welcome"
second_word = "here!"
print(first_word + second_word)

Welcomehere!

In [30]:
print(first_word + " " + second_word)

Welcome here!

In [31]:
print(first_word*3)

WelcomeWelcomeWelcome

In [32]:
print(first_word-3)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

Type Converstion between numerical values and strings

In [67]:
number = 1
street_name = "Castle Point Terrace"
city = "Hoboken"
full_address = str(number) + " " + street_name + ", " + city
print(full_address)

1 Castle Point Terrace, Hoboken

### String Methods

A method is a function that "belogs" to an object. A full list of python string methods can be found in https://www.w3schools.com/python/python_ref_string.asp

In [16]:
message = "Welcome"

In [17]:
# len() - finds length of a string
len(message)

7

In [18]:
# islower() - Returns True if all characters in the string are lower case
message.islower()

False

In [19]:
# count() - Returns the number of times a specified value occurs in a string
message.count("e")

2

In [33]:
# find() - Searches the string for a specified value and returns the position of where it was found
message.find("a")

-1

In [21]:
# split() - Splits the string at the specified separator, and returns a list
message = "Welcome to Stevens!"
message.split()

['Welcome', 'to', 'Stevens!']

In [22]:
message.split("to")

['Welcome ', ' Stevens!']

### Exercise
Split the following text into a list of words. 

"Ten-year-old Harry Potter is an orphan who lives in the fictional London suburb of Little Whinging, Surrey, with the Dursleys: his uncaring Aunt Petunia, loathsome Uncle Vernon, and spoiled cousin Dudley. The Dursleys barely tolerate Harry, and Dudley bullies him. One day Harry is astonished to receive a letter addressed to him in the cupboard under the stairs (where he sleeps). Before he can open the letter, however, Uncle Vernon takes it. Letters for Harry subsequently arrive each day, in increasing numbers, but Uncle Vernon tears them all up, and finally, in an attempt to escape the missives, the Dursleys go to a miserable shack on a small island. On Harryâ€™s 11th birthday, a giant named Hagrid arrives and reveals that Harry is a wizard and that he has been accepted at the Hogwarts School of Witchcraft and Wizardry. He also sheds light on Harryâ€™s past, informing the boy that his parents, a wizard and a witch, were killed by the evil wizard Voldemort and that Harry acquired the lightning-bolt scar on his forehead during the fatal confrontation."

In [92]:
text = "Ten-year-old Harry Potter is an orphan who lives in the fictional London suburb of Little Whinging, Surrey, with the Dursleys: his uncaring Aunt Petunia, loathsome Uncle Vernon, and spoiled cousin Dudley. The Dursleys barely tolerate Harry, and Dudley bullies him. One day Harry is astonished to receive a letter addressed to him in the cupboard under the stairs (where he sleeps). Before he can open the letter, however, Uncle Vernon takes it. Letters for Harry subsequently arrive each day, in increasing numbers, but Uncle Vernon tears them all up, and finally, in an attempt to escape the missives, the Dursleys go to a miserable shack on a small island. On Harryâ€™s 11th birthday, a giant named Hagrid arrives and reveals that Harry is a wizard and that he has been accepted at the Hogwarts School of Witchcraft and Wizardry. He also sheds light on Harryâ€™s past, informing the boy that his parents, a wizard and a witch, were killed by the evil wizard Voldemort and that Harry acquired the lightning-bolt scar on his forehead during the fatal confrontation."

In [89]:
filtered_text = text.replace(", ", " ")
filtered_text = filtered_text.replace(". ", " ")
list_words = filtered_text.split(" ")

In [90]:
list_words

['Ten-year-old',
 'Harry',
 'Potter',
 'is',
 'an',
 'orphan',
 'who',
 'lives',
 'in',
 'the',
 'fictional',
 'London',
 'suburb',
 'of',
 'Little',
 'WhingingSurreywith',
 'the',
 'Dursleys:',
 'his',
 'uncaring',
 'Aunt',
 'Petunialoathsome',
 'Uncle',
 'Vernonand',
 'spoiled',
 'cousin',
 'Dudley',
 'The',
 'Dursleys',
 'barely',
 'tolerate',
 'Harryand',
 'Dudley',
 'bullies',
 'him',
 'One',
 'day',
 'Harry',
 'is',
 'astonished',
 'to',
 'receive',
 'a',
 'letter',
 'addressed',
 'to',
 'him',
 'in',
 'the',
 'cupboard',
 'under',
 'the',
 'stairs',
 '(where',
 'he',
 'sleeps)',
 'Before',
 'he',
 'can',
 'open',
 'the',
 'letterhoweverUncle',
 'Vernon',
 'takes',
 'it',
 'Letters',
 'for',
 'Harry',
 'subsequently',
 'arrive',
 'each',
 'dayin',
 'increasing',
 'numbersbut',
 'Uncle',
 'Vernon',
 'tears',
 'them',
 'all',
 'upand',
 'finallyin',
 'an',
 'attempt',
 'to',
 'escape',
 'the',
 'missivesthe',
 'Dursleys',
 'go',
 'to',
 'a',
 'miserable',
 'shack',
 'on',
 'a',
 'small',
 'island',
 'On',
 'Harryâ€™s',
 '11th',
 'birthdaya',
 'giant',
 'named',
 'Hagrid',
 'arrives',
 'and',
 'reveals',
 'that',
 'Harry',
 'is',
 'a',
 'wizard',
 'and',
 'that',
 'he',
 'has',
 'been',
 'accepted',
 'at',
 'the',
 'Hogwarts',
 'School',
 'of',
 'Witchcraft',
 'and',
 'Wizardry',
 'He',
 'also',
 'sheds',
 'light',
 'on',
 'Harryâ€™s',
 'pastinforming',
 'the',
 'boy',
 'that',
 'his',
 'parentsa',
 'wizard',
 'and',
 'a',
 'witchwere',
 'killed',
 'by',
 'the',
 'evil',
 'wizard',
 'Voldemort',
 'and',
 'that',
 'Harry',
 'acquired',
 'the',
 'lightning-bolt',
 'scar',
 'on',
 'his',
 'forehead',
 'during',
 'the',
 'fatal',
 'confrontation']