# Conditional Statements

## If statements
An $\textbf{if statement}$ is a conditional statement that runs or skips code based on whether a condition is true or false.

In [7]:
temperature = 79
if temperature >= 75:
    print("Go to the beach ðŸ˜ŽâœŒðŸ»")

Go to the beach ðŸ˜ŽâœŒðŸ»

## If Else statements

In [15]:
n = 5
if n % 2 == 0:
    print("Number " + str(n) + " is even")
else:
    print("Number " + str(n) + " is odd")

Number 5 is odd

## If Elif Else statements

In [18]:
temperature = 20
if temperature >= 75:
    print("Go swimming ðŸ˜Ž")
elif temperature <= 50:
    print("Go skiing âœŒ")
elif temperature <= 30:
    print("Sleep")
else:
    print("Great time to study ðŸ§‘ðŸ’»")

Go skiing âœŒ

## Combining multiple conditions

In [20]:
is_rainy = True
is_sunny = True
if is_rainy and is_sunny:
    print("Rainbow!")

Rainbow!

### Exercise

Find the maximum value between three numbers.

In [9]:
a, b, c = 1, 2, 3
if a > b and a > c:
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

3

In [27]:
a, b, c = 1, 2, 3
mx = a
if mx < b:
    mx = b
if mx < c:
    mx = c
print("Maximum is ", mx)
print(a,b,c)

Maximum is  3
1 2 3

# Loops
Loops allow us to repeat blocks of code. Python has two types of loops.
- for loops -> allow us to iterate through an iterable which is an object that can return one of its elements at a time such as lists and strings. Loops are repeated a known number of times.
- while loops -> loops that are repeated an unknown number of times and ends when some condition is met.

## For loops

In [64]:
bucket_list = ["japan", "south Africa", "Thailand"]
for country in bucket_list:
    print(country.title())

Japan
South Africa
Thailand

### Range function
Range is a builtin function used to create immutable sequences of number. It takes three integer arguments:
- start -> first number in the sequence
- stop -> last number of sequence + 1
- step -> difference between numbers in the sequence

In [43]:
for number in range(10, 50, 5):
    print(number, end = ", ")

10, 15, 20, 25, 30, 35, 40, 45,

In [44]:
for number in range(5, 11):
    print(number, end = ", ")

5, 6, 7, 8, 9, 10,

In [45]:
for number in range(11):
    print(number, end = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [66]:
bucket_list = ["japan", "south Africa", "thailand"]
for index in range(len(bucket_list)):
    bucket_list[index] = bucket_list[index].title()
print(bucket_list)

['Japan', 'South Africa', 'Thailand']

In [67]:
s = 0
for i in range(0, 21, 2):
    s += i
print(s)

110

## While loops

In [47]:
number = 0
s = 0
while number < 100:
    s += number
    number += 1
print("Sum of first 100 numbers is:", str(s))

Sum of first 100 numbers is: 4950

## Zip and Enumerate
- zip returns an iterator that combines multiple iterables into one sequence of tuples. Each tuple contains the elements in that position from all the iterables

In [55]:
cities = ["Newport", "Hoboken", "Weehawken"]
populations = [20000, 50000, 90000]

In [56]:
list(zip(cities, populations))

[('Newport', 20000), ('Hoboken', 50000), ('Weehawken', 90000)]

In [57]:
for city, pop in zip(cities, populations):
    print(city, "has a population of", pop)

Newport has a population of 20000
Hoboken has a population of 50000
Weehawken has a population of 90000

In [58]:
for i, city in enumerate(cities):
    print(i, city)

0 Newport
1 Hoboken
2 Weehawken

## List comprehensions

In [2]:
bucket_list = ["japan", "south Africa", "thailand"]
for index in range(len(bucket_list)):
    bucket_list[index] = bucket_list[index].title()
print(bucket_list)

['Japan', 'South Africa', 'Thailand']

In [3]:
bucket_list = ["japan", "south Africa", "thailand"]
capitalized_list = [country.title() for country in bucket_list]
print(capitalized_list)

['Japan', 'South Africa', 'Thailand']

## Exercises 
1. Create a list of all powers of two for the first 10 positive integers using list comprehension.

In [68]:
squares = []
for i in range(1, 11):
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [69]:
lc_squares = [i**2 for i in range(1, 11)]
print(lc_squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [70]:
even_square =  [i**2 for i in range(1, 11) if i % 2 == 0]
print(even_square)

[4, 16, 36, 64, 100]

In [71]:
even_square =  [i**2 if i % 2 == 0 else i for i in range(1, 11) ]
print(even_square)

[1, 4, 3, 16, 5, 36, 7, 64, 9, 100]

2. Find if a number n  greater than 2 is prime or not. Sanity check with n = 5039,  n = 39916801 and n = 87178291199

In [75]:
import time
start = time.time()
n = 39916801
prime = True
for i in range(2, n):
    if n%i == 0:
        prime = False
print("Takes ", str(time.time() - start), "seconds")
print(prime)

Takes  6.613380193710327 seconds
True

In [85]:
start = time.time()
n = 87178291199
prime = True
for i in range(2, n//2):
    if i % 100000000 == 0:
        print(i)
    if n%i == 0:
        prime = False
print("Takes ", str(time.time() - start), "seconds")
print(prime)

100000000
200000000
300000000
400000000
500000000
600000000
700000000
800000000
900000000
1000000000
1100000000
1200000000
1300000000
1400000000
1500000000
1600000000
1700000000
1800000000
1900000000
2000000000
2100000000
2200000000
2300000000
2400000000
2500000000
2600000000
2700000000
2800000000
2900000000
3000000000
3100000000
3200000000
3300000000
3400000000
3500000000
3600000000
3700000000
3800000000
3900000000
4000000000
4100000000
4200000000
4300000000
4400000000
4500000000
4600000000
4700000000
4800000000
4900000000
5000000000
5100000000
5200000000
5300000000
5400000000
5500000000
5600000000
5700000000
5800000000
5900000000
6000000000
6100000000
6200000000
6300000000
6400000000
6500000000
6600000000
6700000000
6800000000
6900000000
7000000000
7100000000
7200000000
7300000000
7400000000
7500000000
7600000000
7700000000
7800000000
7900000000
8000000000
8100000000
8200000000
8300000000
8400000000
8500000000
8600000000
8700000000
8800000000
8900000000
9000000000
9100000000
9200000000
9300000000
9400000000
9500000000
9600000000
9700000000
9800000000
9900000000
10000000000
10100000000
10200000000
10300000000
10400000000
10500000000
10600000000
10700000000
10800000000
10900000000
11000000000
11100000000
11200000000
11300000000
11400000000
11500000000
11600000000
11700000000
11800000000
11900000000
12000000000
12100000000
12200000000
12300000000
12400000000
12500000000
12600000000
12700000000
12800000000
12900000000
13000000000
13100000000
13200000000
13300000000
13400000000
13500000000
13600000000
13700000000
13800000000
13900000000
14000000000
14100000000
14200000000
14300000000
14400000000
14500000000
14600000000
14700000000
14800000000
14900000000
15000000000
15100000000
15200000000
15300000000
15400000000
15500000000
15600000000
15700000000
15800000000
15900000000
16000000000
16100000000
16200000000
16300000000
16400000000
16500000000
16600000000
16700000000
16800000000
16900000000
17000000000
17100000000
17200000000
17300000000
17400000000
17500000000
17600000000
17700000000
17800000000
17900000000
18000000000
18100000000
18200000000
18300000000
18400000000
18500000000
18600000000
18700000000
18800000000
18900000000
19000000000
19100000000
19200000000
19300000000
19400000000
19500000000
19600000000
19700000000
19800000000
19900000000
20000000000
20100000000
20200000000
20300000000
20400000000
20500000000
20600000000
20700000000
20800000000
20900000000
21000000000
21100000000
21200000000
21300000000
21400000000
21500000000
21600000000
21700000000
21800000000
21900000000
22000000000
22100000000
22200000000
22300000000
22400000000
22500000000
22600000000
22700000000
22800000000
22900000000
23000000000
23100000000
23200000000
23300000000
23400000000
23500000000
23600000000
23700000000
23800000000
23900000000
24000000000
24100000000
24200000000
24300000000
24400000000
24500000000
24600000000
24700000000
24800000000
24900000000
25000000000
25100000000
25200000000
25300000000
25400000000
25500000000
25600000000
25700000000
25800000000
25900000000
26000000000
26100000000
26200000000
26300000000
26400000000
26500000000
26600000000
26700000000
26800000000
26900000000
27000000000
27100000000
27200000000
27300000000
27400000000
27500000000
27600000000
27700000000
27800000000
27900000000
28000000000
28100000000
28200000000
28300000000
28400000000
28500000000
28600000000
28700000000
28800000000
28900000000
29000000000
29100000000
29200000000
29300000000
29400000000
29500000000
29600000000
29700000000
29800000000
29900000000
30000000000
30100000000
30200000000
30300000000
30400000000
30500000000
30600000000
30700000000
30800000000
30900000000
31000000000
31100000000
31200000000
31300000000
31400000000
31500000000
31600000000
31700000000
31800000000
31900000000
32000000000
32100000000
32200000000
32300000000
32400000000
32500000000
32600000000
32700000000
32800000000
32900000000
33000000000
33100000000
33200000000
33300000000
33400000000
33500000000
33600000000
33700000000
33800000000
33900000000
34000000000
34100000000
34200000000
34300000000
34400000000
34500000000
34600000000
34700000000
34800000000
34900000000
35000000000
35100000000
35200000000
35300000000
35400000000
35500000000
35600000000
35700000000
35800000000
35900000000
36000000000
36100000000
36200000000
36300000000
36400000000
36500000000
36600000000
36700000000
36800000000
36900000000
37000000000
37100000000
37200000000
37300000000
37400000000
37500000000
37600000000
37700000000
37800000000
37900000000
38000000000
38100000000
38200000000
38300000000
38400000000
38500000000
38600000000
38700000000
38800000000
38900000000
39000000000
39100000000
39200000000
39300000000
39400000000
39500000000
39600000000
39700000000
39800000000
39900000000
40000000000
40100000000
40200000000
40300000000
40400000000
40500000000
40600000000
40700000000
40800000000
40900000000
41000000000
41100000000
41200000000
41300000000
41400000000
41500000000
41600000000
41700000000
41800000000
41900000000
42000000000
42100000000
42200000000
42300000000
42400000000
42500000000
42600000000
42700000000
42800000000
42900000000
43000000000
43100000000
43200000000
43300000000
43400000000
43500000000
Takes  9829.937330007553 seconds
True

In [87]:
import math
start = time.time()
n = 87178291199
prime = True
for i in range(2, int(math.sqrt(n))+1):
    if n%i == 0:
        prime = False
print("Takes ", str(time.time() - start), "seconds")
print(prime)

Takes  0.04407811164855957 seconds
True